<!-- views/partials/footer.ejs -->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 mx-auto" id="share">
        <p>Copyright &copy; 2021 <a href="/">KeySoft</a>, All rights reserved. <br  />Designed & built by <a href="https://github.com/jaayperez" target="_blank" rel="noopener noreferrer">@jaayperez</a>.</p>
      </div>
    </div>
  </div>
</section>
