<!-- views/partials/head.ejs -->
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="KeySoft is a secure, random password generator app using Node.js and Express 4.">
<!-- Favicon -->
<link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
<!-- Font Awesome -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic" rel="stylesheet" type="text/css">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- CSS Files comes here -->
<link href="/css/main.min.css" rel="stylesheet" media="screen">
<link href="/css/animate.min.css" rel="stylesheet" media="screen">
<title>KeySoft - Password Generator App</title>
